<section class="container about-contain">
  <div class="row">
    <div class="col-xs-6 col-line">
      <h1 class="about-us">ABOUT US</h1>
    </div>
    <div class="col-xs-6 quote-border">
      <h3 class="about-p">"Here at MEMESTORE, we believe in the quality of our products. We strive to give our customer the best possible memes from all of the internet.
      We are a fake company. Thanks for visiting us!"</h3>
      <p>- CEO</p>
</section>
    
    <section class="container about-pics-contain">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <%= image_tag "Jennifer_M.png", class: "img-responsive img-circle us" %>
          <h4><strong>Jennifer Macintosh</strong></h4>
          <p>Partner, Operations</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= image_tag "Kenneth_S.png", class: "img-responsive img-circle us" %>
         <h4><strong>Kenneth Memester</strong></h4>
          <p>CEO</p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <%= image_tag "Scott_S.png", class: "img-responsive img-circle us" %>
        </div>
        <h4><strong>Scott Branda</strong></h4>
          <p>Partner, Product Manager</p>
      </div>
    </section>
