<h1>Welcome to Bike Harrison</h1>
<h2>Your source for bikes by George Harrison</h2>

<p>Welcome! The date and time is <%= Time.now %></p>
<div id="bike"><%= image_tag("bike1.jpg", :class => "image") %></div>
