/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 *= require chosen
 
 */

.navbar {
    background-color: #93B1C6;
 border-bottom: 1px solid gray;
font-family: 'Shadows Into Light', "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.navbar-header {
    
    background-color:black;
}

.navbar-header a {
    font-size: 3em;
}

#brand {
    margin-left:0;
    color:white;
    text-shadow: 1px 1px orange;
}


.navbar-brand a {
color:white;        

}
    

#search {
    padding-top: 15px;
    
    
}

li {
    font-family: 'Special Elite', "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

p {
    text-align:center;
    
}

.rating {
    
    text-align:center;
    
}

h4 {
    
    text-align:center;
}

.rated {
    
    text-align:center;
}

.pay-button {
    text-align:center;
}

