/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 *= require chosen
 
 */



li ul a {
    font-family: 'PT sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
    text-align:center;
}

.rating {
    text-align:center;
}

h4 {
    text-align:center;
}

.rated {
    text-align:center;
}

.pay-button {
    text-align:center;
}

.alert {
    background-color: red;
    font-family: "PT sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    border-radius: 0;
    opacity: 1;
}

.notice {
    background-color: green;
    font-family: "PT sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
    opacity: 1;
}

/* for devise */
.devise-login {
    text-align:center;
}

body {
    background-color: #F8F8F8;
    font-family: 'PT Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
}