// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
    text-align:center;
    margin: 2% auto;
    width:80%;
    
}

table thead tr {
    border-bottom:1px dashed white;
    
}

tr th {
    
    text-align: center;
    
}

h1 {
    text-align: center;
    
}

table thead tr {
    
    font-size:1.5em;
    
}


.container-responsive {
    padding-left: 2%;
    padding-right: 2%;
}

#products_jumbo {
    font-family: "PT sans","Helvetica Neue",Helvetica,Arial,sans-serif;

text-align: center;
margin-bottom:10%;

}

#featured {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;

}

.line {
    border-bottom: 1px solid #C0C0C0;
    width:50%;
    margin-top: 60px;
    margin-bottom:50px;
    margin-left: auto;
    margin-right: auto;
}

#products_contain {
    font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    
    
 
}

#products_contain h1 {
    margin-bottom: 5%;
    font-size: 4em;
}

.products {
    margin: 4% auto;
    border: 1px black solid;

    
}

/* show page*/

.show-contain {
    background-color: #FFFFFF;
    margin-top:2%;
    border: 2px solid black;
    margin: 4% auto;
    border-radius: 5%;
    
}

.show-contain p{
    font-size: 2em;
    font-family: "PT sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    
    
}

#price {
    font-size: 5em;
    margin: 20% auto;
}

.show-product{
    margin: 5% auto;
    border: 1px solid black;

}