
.btn-primary {
    font-size: 1.5em;
    font-family: "PT Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;    
}

.image {
    border: 4px black solid;
}

#bike {
    text-align:center;
}

.carousel-inner img {
  margin: auto;
}

.navbar {
    z-index: 1;
}

.signup {
    margin-top: 10%;
}

.about-contain {
    margin-top:4%;
    font-family: 'PT Sans';
    text-align: left;
}

.fjalla {
   
}

.about-us {
   font-family: 'Fjalla One';
   font-size: 5em;
   margin-top: 0;
}

.col-line {
    border-right: 5px dashed black;
}

.about-p {
    font-size: 1.5em;
    font-family: 'Fjalla One';
    margin-top: 0;    
}

.about-pics-contain {
    margin-top: 7%;
}

.us {
    border: 1px solid black;
}
