
#main_jumbo {
   

}


#main_jumbo h1 {
    text-decoration: underline;
   text-shadow: 2px 2px black;
   font-size: 7.5em;
   margin-top:0;
}

#main_jumbo h2 {
    color: #EC583A;
    margin-top:4%;
    margin-bottom:2%;
}


.btn-primary {
    font-size: 1.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    float: right;
}

.image {
    border: 4px black solid;
    
}

#bike {
text-align:center;
    
}

.carousel-inner img {
  margin: auto;
}

.navbar {
    
    z-index: 1;
}


// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
