#nav-links {
    float:right;
   
}

.image {
    border: 4px black solid;
    
}

#bike {
text-align:center;
    
}

.carousel-inner img {
  margin: auto;
}

.navbar {
    
    z-index: 1;
}
// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
